In [ ]:
print("Hello world")
print("Nama Saya Muhammad Daffa Stokhorst")
print("NIM saya 2021071016")

Hello world
Nama Saya Muhammad Daffa STokhorst
NIM saya 2021071016

In [ ]:
if 5 > 2 :
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4
x = "Sally"
print(x)

Sally

In [29]:
def getSecond(myList):
  return myList[1]

getSecond([1,2,3])

2

In [37]:
def getLast(mylist):
   return mylist[-1]

getLast([1,2,3,4,5])

5

In [50]:
def getKali(myList) :
    Sum = 1    
    for item in myList:
        Sum = Sum*item
    return Sum    
getKali([1,2,3,4])

24

In [68]:
def getBagi(myList) :
    Sum = 60
    for item in myList:
        Sum = Sum/item
    return Sum    
getBagi([1,2,3,4,5])

0.5

In [91]:
def getBagi(myList):
  sum = 60
  for row in myList:
    for item in row:
      sum /= item
  return sum

getBagi([[5],[4]])

3.0

In [97]:
def getKurang(myList):
  sum = 0
  for row in myList:
    for item in row:
      sum -= item
  return sum
getKurang([[10,1],[2,1]])

-14